.login {
  background: url(/static/images/bg.jpg) no-repeat;
  background-size: cover;
  flex: 1;
  &-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h1 {
      display: inline-block;
      font-size: 40px;
      border-bottom: 6px solid #4caf50;
      margin-bottom: 50px;
      padding: 13px 0;
    }
  }
}
